<html>
    </head>

    <style>
body {
    font-family: sans-serif;
}
    table {
        border: 0.25em;
        border-width: medium;
        border-color: black;
        border-collapse: collapse;
        max-width: 600px;
    }
    .footer {
        border-top: 1px solid #4d4d4d;
        max-width: 600px;
        margin: 0 auto;
        padding-top: 20px;
        font-size: 0.75em;
        color: #4d4d4d;
    }

    </style>

    <body>
        <p>
        <b>Hey, there!</b><br>
        Your friend {{name}} is now a part of the {{loaclity}} neighborhood network on Belong.
        {{Name}} wishes you to be a part of the conversations on the app as they help the community grow. Hence I am reaching out to you.<br/>
        Belong is a great way to discover new people who live close to you. Your neighbors are probably there already
      </p>

      <p>On Belong, you can<br/>
    • Join your apartment and colony resident groups. <br/>
    • Join your office, college &amp; Hometown group​. <br/>
    • Find partners for activities &amp; carpooling. <br/>
    • Get help from Neighbors for Neighborhood queries (Best Salon? Good Maid?) <br/>

        <p>
        I would be more than happy to answer any questions you might have about this email,
        write to me at <a style="color:#ff1144; text-decoration: none" href="mailto:shreyas@bel.ng">shreyas@bel.ng</a>
        </p>

        <p>
        <em>Your friendly neighbor,</em><br>
        <em>Shreyas.</em>
        </p>
        <table>
            <tr>
                <td class="footer" colspan="2">
                    <b>Belong</b> Your friendly neighborhood, #43, KR Garden, Murugeshpalya, Bangalore, Karnataka, 560017
                    <p>Ignorance is bliss? <a href="" style="color:#6644bb; text-decoration: none"> Unsubscribe</a> </p><p> Copyright &copy; 2016 <b>Belong</b></p>
                </td></tr>
                </td></tr>

    </body>
</html>
