<html>
<head>
<style>
.container {
  margin: 0 auto;
  max-width: 600px;
}
.belong-logo {
  text-align: center;
  margin: 5px;
}
.hero {
  background: #ff7f2a;
  padding: 15px 50px;
  text-align: left;
  max-width: 600px;
  font-size: 1.5em;
  color: white;
  margin: 0 auto;
  Margin: 0 auto;
  border-radius: 5px;
  box-shadow: 2px 2px 2.5px #e6e6e6;
  text-shadow: 2px 2px #e42c5;
}
.mention {
  font-size: 1.5em ;
  color: #4d4d4d;
  margin-top: 50px;
  margin-bottom: 15px;
}
.inline-blocks {
  display: inline-block;
  vertical-align: middle;
}
.discussion-card {
  border: 1px solid #cccccc;
  border-radius: 5px;
}

/* Discussion Card */

.discussion-section {
  margin: auto;
  max-width: 540px;
  padding: 25px;
  background-color: #fff;
}
.discussion-title {
  font-weight:  bold;
  font-size: 1.25em ;
}
.discussion-summary {
  color: #444444;
  margin-top: 10px;
  font-size: 1.25em;
}
.discussion-stamps {
  margin-top: 25px;
  color: #888888;
  font-size: 1em;
}
.discussion-stamps-nickname {
  margin-right: 10px;
}
.discussion-stamps-avatar {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin-right: 3px;
}
.discussion-stamps-location {
  margin-right: 10px;
}
.discussion-stamps-location-pin {
  margin-right: 3px;
}
.discussion-stamps-likes {

}
.discussion-stamps-likes-heart {
  width: 16px;
  height: 14.170px;
}

/* Replies Section */

.replies-section {
  margin: 25px auto auto 5px;
  max-width: 540px;
  min-width: 100%;
}
.responses {
  font-weight: bold;
  color: #bbbbbb;
  margin-top: 10px;
  margin-bottom: 25px;
}
.each-reply {
  margin-bottom: 15px;
}
.replies-avatar {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 25px;
}
.replies-comment-box {
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f6f6f6;
}
.replies-nickname {
  font-weight: bold;
  color: #666666;
  font-size: 1.25em;

}
.replies-message {
  color: #444;
  margin-top:10px;
  font-size: 1.25em;

}

/* reply */
.reply {
  margin: 25px auto;
  align: right;
}
a {
text-decoration: none;
}
.reply-button {
  background: #ff1144;
  border-radius: 3px;
  box-shadow: 2px 2px 2.5px #e6e6e6;
  text-shadow: 2px 2px #e42c5;
  padding: 10px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  display: block;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
  vertical-align: middle;
}

/* footer */
.footer {
  border-top: 1px solid #4d4d4d;
  margin-top: 50px;
  padding-top: 10px;
  font-size: 0.85em;
  color: #4d4d4d;
}
</style>
</head>

<body>
  <div class="container" style="margin: 0 auto;max-width: 600px;">
    <div class="belong-logo" style="text-align: center;margin: 5px;">
      <img alt="Belong" src="https://raw.githubusercontent.com/RahulKondi/belongemail/master/img/belong.png" style="width:144px; height:54px;">
    </div>
    <div class="hero" style="background: #ff7f2a;padding: 15px 50px;text-align: left;max-width: 600px;font-size: 1.5em;color: white;margin: 0 auto;border-radius: 5px;box-shadow: 2px 2px 2.5px #e6e6e6;text-shadow: 2px 2px #e42c5;">
      <p><b>Psychic experts believe that if someone misses you,
        you actually get to know that you're being missed.</b></p>
        <p>This email is how you know.</p>
      </div>
      <div class="mention" style="font-size: 1.5em;color: #4d4d4d;margin-top: 50px;margin-bottom: 15px;">
        <b>satya164</b> mentioned you in a discussion on Belong.
      </div>

      <div class="discussion-card" style="border: 1px solid #cccccc;border-radius: 5px;">
        <table class="discussion-section inline-blocks" style="display: inline-block;vertical-align: middle;margin: auto;max-width: 540px;padding: 25px;background-color: #fff;">
          <tr>
            <td>
              <div class="discussion-title" style="font-weight: bold;font-size: 1.25em;">
                Graphic Designer girlfriend
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="discussion-summary" style="color: #444444;margin-top: 10px;font-size: 1.25em;">
                All I need is a Graphic Designer girlfriend...
                At least we will have one common thing to discuss about lol..
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <span class="discussion-stamps inline-blocks" style="display: inline-block;vertical-align: middle;margin-top: 25px;color: #888888;font-size: 1em;">

                <span class="inline-blocks discussion-stamps-nickname" style="display: inline-block;vertical-align: middle;margin-right: 10px;">
                  <span class="inline-blocks" style="display: inline-block;vertical-align: middle;"> <img class="discussion-stamps-avatar" src="https://upload.wikimedia.org/wikipedia/en/thumb/e/ed/Nyan_cat_250px_frame.PNG/220px-Nyan_cat_250px_frame.PNG" alt="⇣" style="border-radius: 50%;width: 24px;height: 24px;margin-right: 3px;"> </span>
                  <span class="inline-blocks" style="display: inline-block;vertical-align: middle;"> <b>satya164</b> </span>
                </span>
                <span class="inline-blocks discussion-stamps-location" style="display: inline-block;vertical-align: middle;margin-right: 10px;">
                  <span class="inline-blocks" style="display: inline-block;vertical-align: middle;">
                    <img class="discussion-stamps-location-pin" src="http://s.bel.ng/s/location.png" style="margin-right: 3px;">
                  </span>
                  <span class="inline-blocks" style="display: inline-block;vertical-align: middle;">
                    Murugeshpalya
                  </span>
                </span>
                <span class="inline-blocks discussion-stamps-likes" style="display: inline-block;vertical-align: middle;">
                  <span class="inline-blocks" style="display: inline-block;vertical-align: middle;">
                    <img class="discussion-stamps-likes-heart" src="http://s.bel.ng/s/heart.png" style="width: 16px;height: 14.170px;">
                  </span>
                  <span class="inline-blocks" style="display: inline-block;vertical-align: middle;">
                    14 Likes
                  </span>
                </span>

              </span>
            </td>
          </tr>
        </table>
      </div>

      <table class="replies-section" style="margin: 25px auto auto 5px;max-width: 540px;min-width: 100%;">
        <tr>
          <td colspan="2">
            <div class="responses" style="font-weight: bold;color: #bbbbbb;margin-top: 10px;margin-bottom: 25px;">
              Replies to this Discussion
            </div>
          </td>
          </tr><tr>
            </tr><tr>
              <td>
                <img class="replies-avatar" src="https://upload.wikimedia.org/wikipedia/en/thumb/e/ed/Nyan_cat_250px_frame.PNG/220px-Nyan_cat_250px_frame.PNG" alt="o" style="border-radius: 50%;width: 48px;height: 48px;margin-right: 10px;margin-top: 0px;margin-bottom: 25px;">
              </td>
              <td>
                <div class="replies-comment-box" style="border: 1px solid #cccccc;border-radius: 5px;padding: 10px;margin-bottom: 10px;background-color: #f6f6f6;">
                  <div class="replies-nickname" style="font-weight: bold;color: #666666;font-size: 1.25em;">satya164</div>
                  <div class="replies-message" style="color: #444;margin-top: 10px;font-size: 1.25em;">
                    And @belong-admin I m reporting this thread for violating community policies
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <img class="replies-avatar" src="https://upload.wikimedia.org/wikipedia/en/thumb/e/ed/Nyan_cat_250px_frame.PNG/220px-Nyan_cat_250px_frame.PNG" alt="o" style="border-radius: 50%;width: 48px;height: 48px;margin-right: 10px;margin-top: 0px;margin-bottom: 25px;">
              </td>
              <td>
                <div class="replies-comment-box" style="border: 1px solid #cccccc;border-radius: 5px;padding: 10px;margin-bottom: 10px;background-color: #f6f6f6;">
                  <div class="replies-nickname" style="font-weight: bold;color: #666666;font-size: 1.25em;">satya164</div>
                  <div class="replies-message" style="color: #444;margin-top: 10px;font-size: 1.25em;">
                    And @belong-admin I m reporting this thread for violating community policies
                  </div>
                </div>
              </td>
            </tr>
          </table>
          <div align="right" class="reply" style="margin: 25px auto;align: right;">
            <a href="this.link" style="text-decoration: none;">
              <button class="reply-button" style="background: #ff1144;border-radius: 3px;box-shadow: 2px 2px 2.5px #e6e6e6;text-shadow: 2px 2px #e42c5;padding: 10px;text-align: center;font-size: 1.2em;font-weight: bold;color: white;display: block;appearance: none;-webkit-appearance: none;-moz-appearance: none;border: 0;vertical-align: middle;">Reply
              </button>
            </a>
          </div>

          <table class="footer" style="border-top: 1px solid #4d4d4d;margin-top: 50px;padding-top: 10px;font-size: 0.85em;color: #4d4d4d;">
            <tr>
              <td colspan="2">
                <b>&copy; Belong</b>  Your friendly neighborhood, #43, KR Garden, Murugeshpalya, Bangalore, Karnataka, 560017
                <p>Ignorance is bliss? <a href="" style="color:#6644bb; text-decoration: none"> Unsubscribe</a> </p>
              </td>
            </tr>
          </table>
</div></body></html>
